html, body {
    height: 100%;
}

.mainImg {
    display: block; 
    margin: 20px auto;
}

.img {
    width: 40px;
    height: 40px;
    display: block; 
    margin: 5px auto;
}

.cameraBtn {
    background-color: lightskyblue;
    width: 190px;
    height: 100px;
    margin : 5px 0 0px 5px;
    float: left;
    border: 0;
}

.gpsBtn {
    background-color: lightsteelblue;
    width: 190px;
    height: 100px;
    margin : 5px 5px 0px 5px;
    float: left;
    border: 0;
}


.btn_1 {
    background-color: lightsteelblue ;
    width: 92px;
    height: 100px;
    margin : 5px 0 0 5px;
    float: left;
    border: 0;
}

.btn_2 {
    background-color: lightskyblue;
    width: 190px;
    height: 100px;
    margin : 5px 5px 0 5px;
    float: left;
    border: 0;
}

.btn_3 {
    background-color: lightsteelblue ;
    width: 92px;
    height: 100px;
    margin : 5px 5px 0 0;
    float: left;
    border: 0;
}

